<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Registeration</title>
    <!-- CSS FILES -->
    <link rel="stylesheet" href="/stylesheets/register_faculty.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <!--<link rel="stylesheet" href="base.css"> -->
    <!-- FONTS/ICONS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <a href="/" class="logo">CollegeSpace</a>
        <div class="navbar-right">
            <a href="#contact-us">Contact Us</a>
            <a href="#about-us">About Us</a>
            <a href="/auth/login">Login</a>
            <a href="/auth/registerStudent">Register As Student</a>
            <a href="/auth/registerFaculty">Register As Faculty</a>
        </div>
    </div>
    <!-- FORM STARTS HERE -->
    <div class="main-container">
        
            <div class="container">

                <!-- HEADING -->

                <h1>
                    <div class="heading glow">Register As Faculty</div>
                </h1>

                <!-- FIRST NAME -->
                <form action = "/auth/registerFaculty" method="POST" enctype="multipart/form-data">

                <label for="firstname"><b>First Name</b></label>
                <br>
                <input type="text" placeholder="First Name" name="firstname" id="firstname" required>
                <br><br>


                <!-- LAST NAME -->

                <label for="lastname"><b>Last Name</b></label>
                <br>
                <input type="text" name="lastname" placeholder="Last Name" id="lastname" required>
                <br><br>

                <!-- Faculty ID -->

                <label for="facultyid"><b>Faculty ID</b></label>
                <br>
                <input type="text" name="sapid" placeholder="Faculty ID" id="facultyid" required>
                <br><br>

                <!-- EMAIL -->

                <label for="email"><b>E-Mail ID</b></label>
                <br>
                <input type="email" name="email" placeholder="E-Mail ID" id="email" required>
                <br><br>

<!-- PASSWORD -->

                <label for="password"><b>Password</b></label>
            <br>
            <input type="password" placeholder="Password" name="password" id="password" required>
            <br><br>

                <!-- DOB -->

                <label for="dob"><b>Date of Birth</b></label>
                <br>
                <input type="date" name="dob" id="dob" required>
                <br><br>

                <!-- DATE OF JOINING -->

                <label for="doj"><b>Date of Joining</b></label>
                <br>
                <input type="date" name="doj" id="doj" required>
                <br><br>
                

                <!-- SUBJECTS -->

                <label for="subjects"><b>Subjects</b></label>
                <br>
                <select id="subjects" name="subjects" required multiple>
                <option selected disabled hidden>Select Subjects</option>
                <option value="Advanced Algorithms">Advanced Algorithms</option>
                <option value="Microprocessors">Microprocessors</option>
                <option value="Database Management System">Database Management System</option>
                <option value="Theory of Computer Science">Theory of Computer Science</option>
                <option value="Web Development">Web Development</option>
                <option value="Computer Networks">Computer Networks</option>
                <option value="Operating Systems">Operating Systems</option>
                <option value="Data Structures">Data Structures</option>
                <option value="Applied Mathematics">Applied Mathematics</option>
                <option value="Applied Chemistry">Applied Chemistry</option>
                <option value="Applied Physics">Applied Physics</option>
                <option value="Object Oriented Programming Methodology">Object Oriented Programming Methodology</option>
                <option value="OSTL">Optical Systems and Technology Laboratory</option>
            </select>
                <br><br>

                <!-- SUBJECT SELECT BUTTON -->

                <input type="button" value="Select" id="select" name="select">
                <br><br><br>


                <!-- PHONE NUMBER -->
                <label for="phone"><b>Phone Number</b></label>
                <br>
                <input type="tel" name="phone" placeholder="Phone Number" id="phone" required>
                <br><br>


                <!-- PROFILE PHOTO/AVATAR -->

                <label for="avatar"><b>Upload Profile Photo</b></label>
                <br>
                <input type="file" name="avatar" id="avatar" accept=" image/png, image/jpeg ">
                <br><br>

                <!-- SUBMIT BUTTON -->

                <input type="submit" name="submit" id="submit">
                <br><br>
            </form>
                <!-- SIGN IN -->

                <p id="signin">Already have an account? <a href="#"><b>Sign in.</a></b>
                </p>

            </div>
        
    </div>

</html>